<footer class="site-footer">
    <div class="container" style="text-align: center;">
      <div class="row">
        <div class="col">        
            <!-- <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
            </div> -->         
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="https://www.facebook.com/profile.php?id=100010890398705" class="pl-0 pr-3" target="_blank"><img src="assets/kumar-resume/images/social-media/facebook-com.svg" height="30px;"></a>
              <a href="https://twitter.com/Pky85315911Pky" class="pl-3 pr-3" target="_blank"><img src="assets/kumar-resume/images/social-media/twitter-com.svg" height="30px;"></a>
              <a href="https://www.instagram.com/pintukumar9052/" class="pl-3 pr-3" target="_blank" ><img src="assets/kumar-resume/images/social-media/instagram-svg.svg" height="30px;"></a>
              <a href="https://www.linkedin.com/in/pintu-kumar-ba7626206/" class="pl-3 pr-3" target="_blank"><img src="assets/kumar-resume/images/social-media/linkedin-com.svg" height="30px;"></a>
              <a href="https://profile.indeed.com/?hl=en_IN&co=IN&from=gnav-notifcenter" class="pl-3 pr-3" target="_blank"><img src="assets/kumar-resume/images/social-media/indeed.svg" height="30px;"></a>
              <a href="https://youtube.com/@pky4029?si=r428lpJqIkX_VfS-" class="pl-3 pr-3" target="_blank"><img src="assets/kumar-resume/images/social-media/youtube.svg" height="30px;"></a>
              <a href="#" (click)="downloadPDF()"><img src="assets/kumar-resume/download-cloud.svg" height="100%" width="100%"></a>
        </div>           
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="#">Kumar Yadav</a> <!-- License information: https://untree.co/license/ -->
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>