<div class="progress">
    <div class="progress-bar" [style.width.%]="progress" role="progressbar">
      {{progress}}%
    </div>
  </div>

  <div class="progress">
    <div class="progress-bar" [style.width.%]="progress1" role="progressbar">
      {{progress1}}%
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar" [style.width.%]="progress2" role="progressbar">
      {{progress2}}%
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar" [style.width.%]="progress3" role="progressbar">
      {{progress3}}%
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar" [style.width.%]="progress4" role="progressbar">
      {{progress4}}%
    </div>
  </div>
