<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <!--top section contact && social media icon-->
  <div class="top-bar py-2" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-lg-right order-lg-2">
          <ul class="social-media m-0 p-0">
            <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
          </ul>
        </div>
        <div class="col-md-6 text-center text-lg-left order-lg-1">
          <p class="mb-0 d-inline-flex">
            <span class="mr-3"><a href="tel://#" class="d-flex align-items-center"><span class="icon-phone mr-2"></span><span>+91 8083357661</span></a></span>
            <span><a href="tel://#" class="d-flex align-items-center"><span class="icon-envelope mr-2"></span><span>kumarpintubkp1997@gmail.com</span></a></span>
          </p>
        </div>    
      </div>
    </div> 
  </div>

<!--Header section-->
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    
        <div class="container">
          <div class="row align-items-center">
    
            <div class="col-11 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="index.html" class="mb-0">Kumar<span class="text-primary">.</span> </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
    
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a routerLink="/" class="nav-link">Home</a></li>
                  <li><a href="#faq" class="nav-link">Education</a></li>
                  <li>
                    <a href="#services-section" class="nav-link">Project Work</a>
                  </li>
                  <li class="has-children">
                    <a href="#about-section" class="nav-link">About</a>
                    <ul class="dropdown">
                      <li><a href="#about-section">Specialties</a></li>
                      <li><a href="#team-section">Our Team</a></li>
                    </ul>
                  </li>
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>        
    </header>
    <!--end-header section-->